In [1]:
import pandas as pd
import numpy as np

In [2]:
# table_1 = pd.read_csv('/home/prashant/Downloads/pincode/mapped_with_City_1.csv', index_col=['pincode'])
table_1 = pd.read_csv('/home/prashant/Downloads/pincode/mapped_with_City_1.csv')
table_1.head()

   pincode   districtname statename  serviceable cityname
0   110001  Central Delhi     DELHI            1    Delhi
1   110002  Central Delhi     DELHI            1    Delhi
2   110003  Central Delhi     DELHI            1    Delhi
3   110004  Central Delhi     DELHI            1    Delhi
4   110005  Central Delhi     DELHI            1    Delhi

In [3]:
# table_2 = pd.read_csv('/home/prashant/Downloads/pincode/pin_codes.csv', index_col=['pincode'])
table_2 = pd.read_csv('/home/prashant/Downloads/pincode/pin_codes.csv')
table_2.head()

   pincode   districtname statename  serviceable cityname
0   110001  Central Delhi     DELHI            1      NaN
1   110002  Central Delhi     DELHI            1      NaN
2   110003  Central Delhi     DELHI            1      NaN
3   110004  Central Delhi     DELHI            1      NaN
4   110005  Central Delhi     DELHI            1      NaN

In [4]:
frames = [table_1, table_2]

In [7]:
table_3 = pd.concat(frames)
table_3.to_csv('/home/prashant/Downloads/pincode/table_3.csv')
table_3

       pincode      districtname statename  serviceable    cityname
0       110001     Central Delhi     DELHI            1       Delhi
1       110002     Central Delhi     DELHI            1       Delhi
2       110003     Central Delhi     DELHI            1       Delhi
3       110004     Central Delhi     DELHI            1       Delhi
4       110005     Central Delhi     DELHI            1       Delhi
5       110006     Central Delhi     DELHI            1       Delhi
6       110007       North Delhi     DELHI            1       Delhi
7       110008     Central Delhi     DELHI            1       Delhi
8       110009  North West Delhi     DELHI            1       Delhi
9       110010  South West Delhi     DELHI            1       Delhi
10      110011     Central Delhi     DELHI            1       Delhi
11      110012     Central Delhi     DELHI            1       Delhi
12      110013       South Delhi     DELHI            1       Delhi
13      110014       South Delhi     DELHI            1       Delhi
14      110015        West Delhi     DELHI            1       Delhi
15      110016  South West Delhi     DELHI            1       Delhi
16      110017       South Delhi     DELHI            1       Delhi
17      110018        West Delhi     DELHI            1       Delhi
18      110019       South Delhi     DELHI            1       Delhi
19      110020       South Delhi     DELHI            1       Delhi
20      110021  South West Delhi     DELHI            1       Delhi
21      110022  South West Delhi     DELHI            1       Delhi
22      110023  South West Delhi     DELHI            1       Delhi
23      110024       South Delhi     DELHI            1       Delhi
24      110025       South Delhi     DELHI            1       Delhi
25      110026        West Delhi     DELHI            1       Delhi
26      110027        West Delhi     DELHI            1       Delhi
27      110028  South West Delhi     DELHI            1       Delhi
28      110029  South West Delhi     DELHI            1       Delhi
29      110030  South West Delhi     DELHI            1       Delhi
...        ...               ...       ...          ...         ...
19365   854316            Purnia     BIHAR            0      Purnia
19366   854317           Katihar     BIHAR            0     Katihar
19367   854318            Araria     BIHAR            0      Araria
19368   854325            Purnia     BIHAR            0      Purnia
19369   854326            Purnia     BIHAR            0      Purnia
19370   854327            Purnia     BIHAR            0      Purnia
19371   854328            Araria     BIHAR            0      Araria
19372   854329            Araria     BIHAR            0      Araria
19373   854330            Purnia     BIHAR            0      Purnia
19374   854331            Araria     BIHAR            0      Araria
19375   854332            Araria     BIHAR            0      Araria
19376   854333            Araria     BIHAR            0      Araria
19377   854334            Araria     BIHAR            0      Araria
19378   854335            Araria     BIHAR            0      Araria
19379   854336            Araria     BIHAR            0      Araria
19380   854337            Purnia     BIHAR            0      Purnia
19381   854338            Supaul     BIHAR            0      Supaul
19382   854339            Supaul     BIHAR            0      Supaul
19383   854340            Supaul     BIHAR            0      Supaul
19384   855101        Kishanganj     BIHAR            0  Kishanganj
19385   855102           Katihar     BIHAR            0     Katihar
19386   855105           Katihar     BIHAR            0     Katihar
19387   855106        Kishanganj     BIHAR            0  Kishanganj
19388   855107        Kishanganj     BIHAR            0  Kishanganj
19389   855108        Kishanganj     BIHAR            0  Kishanganj
19390   855113           Katihar     BIHAR            0     Katihar
19391   855114           Katihar     BIHAR            0     Katihar
19392   855115        Kishanganj     BIHAR            0  Kishanganj
19393   855116        Kishanganj     BIHAR            0  Kishanganj
19394   855117        Kishanganj     BIHAR            0  Kishanganj

[20873 rows x 5 columns]

In [8]:
    # table_3.drop_duplicates(subset='pincode', keep='first')
    # table_3.to_csv('/home/prashant/Downloads/pincode/All_pincode_mapped_with_city.csv')

In [9]:
# joined_table = table_2.join(table_1, lsuffix='_2', rsuffix='_1')
# joined_table.to_csv('/home/prashant/Downloads/pincode/joined_table')
# joined_table.head()

In [10]:
# joined_table[~joined_table['cityname_2'].isnull()]
# joined_table['cityname'] = joined_table.apply(lambda r: r['cityname_2'] if not np.isnan(r['cityname_2']) else r['cityname_1'], axis=1)