In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('/home/prashant/Desktop/practice/practice_1.csv')

In [3]:
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
3,14437,Justin,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,AB4318@gmail.com,boots,leather,brown
5,52386,Julie,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black
6,20487,Thomas,Jensen,TJ5470@gmail.com,clogs,fabric,navy
7,76971,Janice,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy
8,21586,Gabriel,Porter,GabrielPorter24@gmail.com,clogs,leather,brown
9,62083,Frances,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white

In [4]:
df['shoe_type'] = df.shoe_type.apply(lambda x: x.lower())
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,Rebecca,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,Emily,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,Joyce,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
3,14437,Justin,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,Andrew,Banks,AB4318@gmail.com,boots,leather,brown
5,52386,Julie,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black
6,20487,Thomas,Jensen,TJ5470@gmail.com,clogs,fabric,navy
7,76971,Janice,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy
8,21586,Gabriel,Porter,GabrielPorter24@gmail.com,clogs,leather,brown
9,62083,Frances,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white

In [24]:
!which python

/home/prashant/anaconda3/bin/python

In [5]:
df['first_name'] = df.first_name.apply(str.upper)
# ?string.upper()

In [21]:
df['first_name'] = df.first_name.apply(lambda x: x.upper())

In [6]:
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,54791,REBECCA,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black
1,53450,EMILY,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy
2,91987,JOYCE,Waller,Joyce.Waller@gmail.com,sandals,fabric,black
3,14437,JUSTIN,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red
4,79357,ANDREW,Banks,AB4318@gmail.com,boots,leather,brown
5,52386,JULIE,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black
6,20487,THOMAS,Jensen,TJ5470@gmail.com,clogs,fabric,navy
7,76971,JANICE,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy
8,21586,GABRIEL,Porter,GabrielPorter24@gmail.com,clogs,leather,brown
9,62083,FRANCES,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white

In [7]:
x = "fun"

In [8]:
x.lower

In [9]:
x.lower()

'fun'

In [10]:
df['in_stock'] = df.shoe_material.apply(lambda x: False if x =="fabric" else True)

In [11]:
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color,in_stock
0,54791,REBECCA,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,True
1,53450,EMILY,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,True
2,91987,JOYCE,Waller,Joyce.Waller@gmail.com,sandals,fabric,black,False
3,14437,JUSTIN,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red,True
4,79357,ANDREW,Banks,AB4318@gmail.com,boots,leather,brown,True
5,52386,JULIE,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black,False
6,20487,THOMAS,Jensen,TJ5470@gmail.com,clogs,fabric,navy,False
7,76971,JANICE,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy,True
8,21586,GABRIEL,Porter,GabrielPorter24@gmail.com,clogs,leather,brown,True
9,62083,FRANCES,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white,True

In [15]:
df['description'] =  df.apply(lambda row : "{} {} bought {} {} {}"\
                             .format(row.first_name,
                                     row.last_name,
                                     row.shoe_color,
                                     row.shoe_material,
                                     row.shoe_type),
                             axis=1)

In [17]:
df.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color,in_stock,description
0,54791,REBECCA,Lindsay,RebeccaLindsay57@hotmail.com,clogs,faux-leather,black,True,REBECCA Lindsay bought black faux-leather clogs
1,53450,EMILY,Joyce,EmilyJoyce25@gmail.com,ballet flats,faux-leather,navy,True,EMILY Joyce bought navy faux-leather ballet flats
2,91987,JOYCE,Waller,Joyce.Waller@gmail.com,sandals,fabric,black,False,JOYCE Waller bought black fabric sandals
3,14437,JUSTIN,Erickson,Justin.Erickson@outlook.com,clogs,faux-leather,red,True,JUSTIN Erickson bought red faux-leather clogs
4,79357,ANDREW,Banks,AB4318@gmail.com,boots,leather,brown,True,ANDREW Banks bought brown leather boots
5,52386,JULIE,Marsh,JulieMarsh59@gmail.com,sandals,fabric,black,False,JULIE Marsh bought black fabric sandals
6,20487,THOMAS,Jensen,TJ5470@gmail.com,clogs,fabric,navy,False,THOMAS Jensen bought navy fabric clogs
7,76971,JANICE,Hicks,Janice.Hicks@gmail.com,clogs,faux-leather,navy,True,JANICE Hicks bought navy faux-leather clogs
8,21586,GABRIEL,Porter,GabrielPorter24@gmail.com,clogs,leather,brown,True,GABRIEL Porter bought brown leather clogs
9,62083,FRANCES,Palmer,FrancesPalmer50@gmail.com,wedges,leather,white,True,FRANCES Palmer bought white leather wedges